<lx-dialog class="dialog dialog--l" id="file-managment">
    <div class="toolbar bgc-red-500">
        <div class="toolbar__left">
            <i class="icon icon--l icon--white icon--flat mdi mdi--note-add"></i>
        </div>

        <strong class="toolbar__label tc-white fs-title ml">
            <span ng-if="editingFile._id">Edit file</span>
            <span ng-if="!editingFile._id">Add file</span>
        </strong>
    </div>

    <!-- Step 6: tabs, text fields and selects-->
    <!-- Tabs: text color (light), background color (red-500), indicator (yellow 500), no divider (http://ui.lumapps.com/directives/tabs)-->
    <!-- Text fields: title (model: editingFile.title), description (model: editingFile.description) (http://ui.lumapps.com/directives/text-fields) -->
    <!-- Select: model (editingFile.users), choices (users) (http://ui.lumapps.com/directives/selects) -->
</lx-dialog>