<!-- Step 4: data table (http://ui.lumapps.com/css/data-table)-->
<div class="main__content bgc-white">
    <div><!-- Step 4.1: data table container for responsive-->
        <table style="width: 100%"><!-- Step 4.2: data table classes-->
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Owner</th>
                    <th>Last Modified</th><!-- Step 4.3: text align helper (right)-->
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="file in files | filter:data.filter" ng-click="selectFile(file)">
                    <td>
                        <!-- Step 4.4: thumbnail (http://ui.lumapps.com/directives/thumbnails)-->
                        <img width="40" height="40" ng-src="{{ file.picture }}">
                    </td>
                    <td>
                        <strong>{{ file.title }}</strong>
                    </td>
                    <td>
                        {{ file.owner.name }}
                    </td>
                    <td><!-- Step 4.5: text align helper (right)-->
                        {{ file.updated }}
                    </td>
                    <td>
                        <!-- Step 4.6: dropdown (http://ui.lumapps.com/directives/dropdowns)-->
                        <button class="btn btn--m btn--black btn--icon" lx-ripple>
                            <i class="mdi mdi--more-vert"></i>
                        </button>
                    </td>
                </tr>                    
           </tbody>
        </table>
    </div>
</div>