<div class="main__content bgc-white">
    <div class="table-container">
        <table class="data-table data-table--has-primary data-table--has-secondary">
            <thead>
                <tr>
                    <th></th>
                    <th class="data-table__title">Title</th>
                    <th>Owner</th>
                    <th class="text--right">Last Modified</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="data-table__clickable-row" ng-repeat="file in files | filter:data.filter" ng-click="selectFile(file)">
                    <td>
                        <div lx-thumbnail thumbnail-src="{{ file.picture }}" thumbnail-width="40" thumbnail-height="40"></div>
                    </td>
                    <td>
                        <strong>{{ file.title }}</strong>
                    </td>
                    <td>
                        {{ file.owner.name }}
                    </td>
                    <td class="text--right">
                        {{ file.updated }}
                    </td>
                    <td>
                        <lx-dropdown position="right" from-top="true">
                            <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                <i class="mdi mdi--more-vert"></i>
                            </button>

                            <lx-dropdown-menu>
                                <ul>
                                    <li><a class="dropdown-link">Action</a></li>
                                    <li><a class="dropdown-link">Another action</a></li>
                                    <li><a class="dropdown-link">Something else here</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                                    <li><a class="dropdown-link">Separated link</a></li>
                                </ul>
                            </lx-dropdown-menu>
                        </lx-dropdown>
                    </td>
                </tr>                    
           </tbody>
        </table>
    </div>
</div>