<!-- Sidebar -->
<div class="panel" ng-class="{ 'panel--is-opened': Layout.panelIsOpened }">
    <!-- Header -->
    <header class="panel-header"> <!-- background color (red-600) -->
        <div class="toolbar">
            <div class="toolbar__left">
                <button class="btn btn--l btn--grey btn--icon" lx-ripple ng-click="Layout.closePanel()">
                    <i class="mdi mdi--close"></i>
                </button>
            </div>

            <div class="toolbar__right">
                <!-- http://ui.lumapps.com/directives/dialogs -->
                <button class="btn btn--l btn--grey btn--icon" lx-ripple ng-click="editFile(selectedFile)">
                    <i class="mdi mdi--edit"></i>
                </button>

                <!-- http://ui.lumapps.com/services/notifications -->
                <button class="btn btn--l btn--grey btn--icon" lx-ripple ng-click="deleteFile(selectedFile)">
                    <i class="mdi mdi--delete"></i>
                </button>
            </div>
        </div>

        <div class="panel-header__title">
            <strong class="fs-subhead">{{ selectedFile.title }}</strong> <!-- text color (white-1) -->
            <span class="fs-body1">{{ selectedFile.updated }}</span> <!-- text color (white-2) -->
        </div>
    </header>
    <!-- /Header -->

    <!-- Content -->
    <div class="panel-content">
        <img ng-src="{{ selectedFile.picture }}">

        <!-- Step 5: list (http://ui.lumapps.com/css/lists)-->
        <ul class="list"></ul>
    </div>
    <!-- /Content -->
</div>
<!-- /Sidebar>